.general_navigation {
  list-style-type: none;
  text-align: center;
}

.main_nav{
  margin: 5px 5px 5px 5px;
  background-color: black;
  background-position: top center;
  background-size: cover;
  opacity: 0.8;
  padding: 40px;
  list-style-type: none;
  text-align: center;
}

.navigation_element {
color: white;
text-shadow: 1px 1px black;
letter-spacing: 1px;
border-bottom: 2px solid transparent;
}

.navigation_element:hover {
color: rgb(0, 128, 255);
border-bottom: 2px solid rgb(0, 128, 255);
box-shadow: 0 1px 0 white, 0 2px 0 #969696;
}

.general_navigation li {
display: inline-block;
font-size: 20px;
padding-left: 10px;
padding-right: 10px;
}

a {
text-decoration: none;
display: inline-block;
padding: 5px 5px;
letter-spacing: 1px;
margin: 0 25px;
font-size: 24px;
font-family: 'PT Sans', sans-serif;
transition: .3s ease-in-out;
}

@media screen and (max-width: 500px){

  .general_navigation li{
      padding-left: 0px;
      padding-right: 0px;
  }
  .general_navigation{
      height: 50px;
      padding: 0px;
  }
  .navigation_element{
      margin-top: 15px;
     font-size: 9px;
  }
  .navigation_element {
  color: white;
  text-shadow: 1px 1px black;
  letter-spacing: none;
  border-bottom: 2px solid transparent;
  }
  a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 5px;
  letter-spacing: 1px;
  margin: 0 10px;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  transition: .3s ease-in-out;
}
}

